@using Team6.helpers.enumhelper
@using Team6.Models
@model Team6.Models.Officer

@{
    ViewBag.Title = "Edit officer details";
}

<h2>Edit Officer Details</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OfficerID)

        <div class="form-group">
            <label class="col-sm-2 control-label"> @Html.LabelFor(model => model.BadgeNumber)</label>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.BadgeNumber)
                @Html.ValidationMessageFor(model => model.BadgeNumber)
            </div>
            <label class="col-xs-1 control-label"> @Html.LabelFor(model => model.Rank)</label>
            <div class="col-sm-4">
                @Html.DropDownList("Rank", enumHelper.GetSelectedItemList<Rank>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.Rank)

            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label"> @Html.LabelFor(model => model.FirstName)</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <label class="col-xs-1 control-label">@Html.LabelFor(model => model.LastName)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)

            </div>
        </div>



        @*<div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.UserName)
                </div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.Password)
            </div>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)

        </div>*@

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.PhoneNumber)</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <label class="col-xs-1 control-label"> @Html.LabelFor(model => model.Email)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Ssn)</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Ssn)
                @Html.ValidationMessageFor(model => model.Ssn)
            </div>
            <label class="col-xs-1 control-label">@Html.LabelFor(model => model.Height) </label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Height)
                @Html.ValidationMessageFor(model => model.Height)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.EyeColor) </label>
            <div class="col-md-5">
                @Html.DropDownList("Eye Color", enumHelper.GetSelectedItemList<EyeColor>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.EyeColor)

            </div>

 
                <label class="col-xs-1 control-label"> @Html.LabelFor(model => model.Gender)</label>
                <div class="col-sm-4">

                    @Html.DropDownList("Gender", enumHelper.GetSelectedItemList<Gender>(), new { style = "width:160px" })
                    @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-10 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
