@model Team6.Models.CrimeReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CrimeReport</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CriminalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriminalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffenseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffenseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmittedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmittedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrisonAgency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrisonAgency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CrimereportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
