@model Team6.Models.CrimeReport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CrimeReport</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.crimereportID)

        <div class="form-group">
            @Html.LabelFor(model => model.criminal_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.criminal_id)
                @Html.ValidationMessageFor(model => model.criminal_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.officer_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.officer_id)
                @Html.ValidationMessageFor(model => model.officer_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.case_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.case_number)
                @Html.ValidationMessageFor(model => model.case_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suspect, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.suspect)
                @Html.ValidationMessageFor(model => model.suspect)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.offense_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.offense_type)
                @Html.ValidationMessageFor(model => model.offense_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.offense_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.offense_date)
                @Html.ValidationMessageFor(model => model.offense_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.admitted_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.admitted_date)
                @Html.ValidationMessageFor(model => model.admitted_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prison_agency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prison_agency)
                @Html.ValidationMessageFor(model => model.prison_agency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.time)
                @Html.ValidationMessageFor(model => model.time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
