@using Team6.helpers.enumhelper
@using Team6.Models
@model Team6.Models.CrimeReport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CrimeReport</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CrimereportID)

        <div class="form-group">
            
            <label class="col-sm-2 control-label"> @Html.LabelFor(model => model.CriminalID)</label>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.CriminalID)
                @Html.ValidationMessageFor(model => model.CriminalID)
                </div>
            <label class="col-xs-1 control-label"> @Html.LabelFor(model => model.OfficerID)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.OfficerID)
                @Html.ValidationMessageFor(model => model.OfficerID)
                </div>
            </div>

        <div class="form-group"> 
            <label class="col-sm-2 control-label"> @Html.LabelFor(model => model.CaseNumber)</label>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.CaseNumber)
                @Html.ValidationMessageFor(model => model.CaseNumber)
            </div>
            <label class="col-xs-1 control-label"> @Html.LabelFor(model => model.Suspect)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Suspect)
                @Html.ValidationMessageFor(model => model.Suspect)
            </div>


            </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> @Html.LabelFor(model => model.OffenseType)</label>
            <div class="col-sm-5">
                @Html.DropDownList("Offense Type", enumHelper.GetSelectedItemList<OffenseType>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.OffenseType)
                </div>
            <label class="col-xs-1 control-label">@Html.LabelFor(model => model.OffenseDate)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.OffenseDate)
                @Html.ValidationMessageFor(model => model.OffenseDate)
                </div>
            </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> @Html.LabelFor(model => model.AdmittedDate)</label>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.AdmittedDate)
                @Html.ValidationMessageFor(model => model.AdmittedDate)
                </div>
            <label class="col-xs-1 control-label"> @Html.LabelFor(model => model.PrisonAgency)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.PrisonAgency)
                @Html.ValidationMessageFor(model => model.PrisonAgency)
                </div>
            </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Time)</label>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-10 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
