@using Team6.helpers.enumhelper
@using Team6.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team6</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Team6", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Officer", "Index", "Officer")</li>
                    <li>@Html.ActionLink("Criminal", "Index", "Criminal")</li>
                    <li>@Html.ActionLink("Crime Report", "Index", "CrimeReport")</li>
                  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" data-target="#myModal">Search Officer</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team6</p>
        </footer>
    </div>




    <!-- Search officer modal start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Search Officer</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("SearchOfficer", "Officer", FormMethod.Get))
                    {
                        <p>
                            First Name: @Html.TextBox("firstName")
                        </p>
                        <p>
                            Last Name: @Html.TextBox("lastName")
                        </p>
                        <p>
                            User Name: @Html.TextBox("userName")
                        </p>
                        <p>
                            Email: @Html.TextBox("email")
                        </p>
                        <p>
                            Phone Number: @Html.TextBox("phoneNumber")
                        </p>
                        <p>
                            SSN: @Html.TextBox("ssn")
                        </p>
                        <p>
                            Badge Number: @Html.TextBox("badgeNumber")
                        </p>
                        
                        <br />
                        <input type="submit" value="Search" class="btn btn-primary"  />
                    }
                    
                </div>
                <!-- <div class="modal-footer"> -->
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                <!-- <div> -->
            </div>
        </div>
    </div>
    <!-- Search officer modal end -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
