@using Team6.helpers.enumhelper
@using Team6.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team6</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Team6", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if ((System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Officer", "Index", "Officer")</li>
                            <li>@Html.ActionLink("Criminal", "Index", "Criminal")</li>
                            <li>@Html.ActionLink("Crime Report", "Index", "CrimeReport")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-toggle="modal" data-target="#officerModal">Search Officers</a></li>
                                    <li><a data-toggle="modal" data-target="#criminalModal">Search Criminals</a></li>
                                    <li><a data-toggle="modal" data-target="#crimeReportModal">Search Crime Reports</a></li>
                                </ul>
                            </li>
                        <li>@Html.ActionLink("Logout", "LogOff", "Home")</li>
                        }   
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team6</p>
        </footer>
    </div>




    <!-- Search officer modal start -->
    <div class="modal fade" id="officerModal" tabindex="-1" role="dialog" aria-labelledby="officerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="officerModalLabel">Search Officers</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("SearchOfficer", "Officer", FormMethod.Get))
                    {
                        <p>
                            First Name: @Html.TextBox("firstName")
                        </p>
                        <p>
                            Last Name: @Html.TextBox("lastName")
                        </p>
                        <p>
                            User Name: @Html.TextBox("userName")
                        </p>
                        <p>
                            Email: @Html.TextBox("email")
                        </p>
                        <p>
                            Phone Number: @Html.TextBox("phoneNumber")
                        </p>
                        <p>
                            SSN: @Html.TextBox("ssn")
                        </p>
                        <p>
                            Badge Number: @Html.TextBox("badgeNumber")
                        </p>
                        <p>
                            Rank: @Html.DropDownList("rank", enumHelper.GetSelectedItemList<Rank>(), new { style = "width:160px" })
                        </p>
                        <p>
                            Gender: @Html.DropDownList("gender", enumHelper.GetSelectedItemList<Gender>(), new { style = "width:160px" })
                        </p>
                        <p>
                            Eye Color: @Html.DropDownList("eyeColor", enumHelper.GetSelectedItemList<EyeColor>(), new { style = "width:160px" })
                        </p>

                        <br />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    }

                </div>
                <!-- <div class="modal-footer"> -->
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
                <!-- <div> -->
            </div>
        </div>
    </div>
    <!-- Search officer modal end -->


    <!-- Search criminal modal start -->
    <div class="modal fade" id="criminalModal" tabindex="-1" role="dialog" aria-labelledby="criminalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="criminalModalLabel">Search Criminals</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("SearchCriminal", "Criminal", FormMethod.Get))
                    {
                        <p>
                            First Name: @Html.TextBox("firstName")
                        </p>
                        <p>
                            Last Name: @Html.TextBox("lastName")
                        </p>
                        <p>
                            Weight: @Html.TextBox("weight")
                        </p>
                        <p>
                            Height: @Html.TextBox("height")
                        </p>
                        <p>
                            SSN: @Html.TextBox("ssn")
                        </p>
                        <p>
                            Address: @Html.TextBox("address")
                        </p>
                        <p>
                            Zip Code: @Html.TextBox("zipCode")
                        </p>
                        <p>
                            Race: @Html.DropDownList("race", enumHelper.GetSelectedItemList<Race>(), new { style = "width:160px" })
                        </p>
                        <p>
                            State: @Html.DropDownList("state", enumHelper.GetSelectedItemList<State>(), new { style = "width:160px" })
                        </p>
                        <p>
                            Gender: @Html.DropDownList("gender", enumHelper.GetSelectedItemList<Gender>(), new { style = "width:160px" })
                        </p>
                        <p>
                            Eye Color: @Html.DropDownList("eyeColor", enumHelper.GetSelectedItemList<EyeColor>(), new { style = "width:160px" })
                        </p>
                        <p>
                            Hair Color: @Html.DropDownList("hairColor", enumHelper.GetSelectedItemList<HairColor>(), new { style = "width:160px" })
                        </p>

                        <br />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    }

                </div>
                <!-- <div class="modal-footer"> -->
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
                <!-- <div> -->
            </div>
        </div>
    </div>
    <!-- Search criminal modal end -->


    <!-- Search crime report modal start -->
    <div class="modal fade" id="crimeReportModal" tabindex="-1" role="dialog" aria-labelledby="crimeReportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="crimeReportModalLabel">Search Crime Reports</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("SearchCrimeReport", "CrimeReport", FormMethod.Get))
                    {
                        <p>
                            Criminal ID: @Html.TextBox("criminalId")
                        </p>
                        <p>
                            Officer ID: @Html.TextBox("officerId")
                        </p>
                        <p>
                            Case Number: @Html.TextBox("caseNumber")
                        </p>
                        <p>
                            Prison Agency: @Html.TextBox("prisonAgency")
                        </p>
                        <p>
                            Offense Type: @Html.DropDownList("offenseType", enumHelper.GetSelectedItemList<OffenseType>(), new { style = "width:160px" })
                        </p>

                        <br />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    }

                </div>
                <!-- <div class="modal-footer"> -->
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
                <!-- <div> -->
            </div>
        </div>
    </div>
    <!-- Search crime report modal end -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
