@using Team6.helpers.enumhelper
@using Team6.Models
@using Microsoft.Web
@model Team6.Models.Criminal

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create" ,"Criminal", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Criminal</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.FirstName)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.LastName)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Height)</label>
            <div class="col-sm-4">
                @using (Html.BeginForm("NewHeight", "Admin"))
                {
                    <select id="HeightFeet" name="HeightFeet">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <select id="HeightInches" name="HeightInches">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                    </select>
                }
                @Html.ValidationMessageFor(model => model.Height)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Weight)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Weight)
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.EyeColor)</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.EyeColor, enumHelper.GetSelectedItemList<EyeColor>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.EyeColor)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Gender)</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.Gender, enumHelper.GetSelectedItemList<Gender>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Ssn)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Ssn)
                @Html.ValidationMessageFor(model => model.Ssn)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Alias)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Alias)
                @Html.ValidationMessageFor(model => model.Alias)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.HairColor)</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.HairColor, enumHelper.GetSelectedItemList<HairColor>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.HairColor)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.KnownAffiliates)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.KnownAffiliates)
                @Html.ValidationMessageFor(model => model.KnownAffiliates)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.DateOfBirth)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Race)</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.Race, enumHelper.GetSelectedItemList<Race>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.Race)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Address)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.State)</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.State, enumHelper.GetSelectedItemList<State>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.ZipCode)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>

            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.PhoneNumber)</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.misc)</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.misc)
                @Html.ValidationMessageFor(model => model.misc)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.image)</label>
            <div class="col-sm-10">
                

                    <label for="file">Filename:</label>
                    <input type="file" name="file" id="file" />

                <!--
                    @using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_profile" }))
                {
                    @Html.LabelFor(model => model.image)
                    @Html.TextBoxFor(model => model.image, new { type = "file", accept = "image/*" }) 
                    @Html.ValidationMessageFor(model => model.image)
                }
                -->
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-10col-sm-10">
                <input type="submit" class="btn btn-default">
            </div>
        </div>

    </div>
}

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
