@model IEnumerable<Team6.Models.Criminal>

@{
    ViewBag.Title = "CriminalReport";
}

<center><h2>Criminal Report Sheet</h2></center>

@foreach (var item in Model)
{
    <br /><hr /><br />
    <div class="row">
        <div class="col-xs-3">
            <b>Criminal ID</b>
        </div>
        <div class="col-xs-3">
            @item.CriminalID
        </div>
        <div class="col-xs-3">
            <b>First Name</b>
        </div>
        <div class="col-xs-3">
            @item.FirstName
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
            <b>Last Name</b>
        </div>
        <div class="col-xs-3">
            @item.LastName
        </div>
        <div class="col-xs-3">
            <b>Date of Birth</b>
        </div>
        <div class="col-xs-3">
            @item.DateOfBirth
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
            <b>Eye Color</b>
        </div>
        <div class="col-xs-3">
            @item.EyeColor
        </div>
        <div class="col-xs-3">
            <b>Weight</b>
        </div>
        <div class="col-xs-3">
            @item.Weight
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
            <b>Height</b>
        </div>
        <div class="col-xs-3">
            @item.Height
        </div>
        <div class="col-xs-3">
            <b>Gender</b>
        </div>
        <div class="col-xs-3">
            @item.Gender
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
            <b>Social Security Number</b>
        </div>
        <div class="col-xs-3">
            @item.Ssn
        </div>
        <div class="col-xs-3">
            <b>Hair Color</b>
        </div>
        <div class="col-xs-3">
            @item.HairColor
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
            <b>Race</b>
        </div>
        <div class="col-xs-3">
            @item.Race
        </div>
        <div class="col-xs-3">
            <b>Address</b>
        </div>
        <div class="col-xs-3">
            @item.Address
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
            <b>Zip Code</b>
        </div>
        <div class="col-xs-3">
            @item.ZipCode
        </div>
    </div>
}