@using Team6.helpers.enumhelper
@using Team6.Models
@model Team6.Models.Criminal

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Criminal</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CriminalID)

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.FirstName)
                    </div>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.LastName)
                </div>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Height)
                    </div>
                    @Html.EditorFor(model => model.Height)
                    @Html.ValidationMessageFor(model => model.Height)
                </div>

            <div class="col-xs-1">
                @Html.LabelFor(model => model.Weight)
                </div>
                @Html.EditorFor(model => model.Weight)
                @Html.ValidationMessageFor(model => model.Weight)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.EyeColor)
                    </div>
                    @Html.DropDownList("Eye Color", enumHelper.GetSelectedItemList<EyeColor>(), new { style = "width:160px" })
                    @Html.ValidationMessageFor(model => model.EyeColor)
                </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.Gender)
                </div>
                @Html.DropDownList("Gender", enumHelper.GetSelectedItemList<Gender>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.Gender)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Ssn)
                    </div>
                    @Html.EditorFor(model => model.Ssn)
                    @Html.ValidationMessageFor(model => model.Ssn)
                </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.Alias)
                </div>
                @Html.EditorFor(model => model.Alias)
                @Html.ValidationMessageFor(model => model.Alias)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.HairColor)
                    </div>
                    @Html.DropDownList("Hair Color", enumHelper.GetSelectedItemList<HairColor>(), new { style = "width:160px" })
                    @Html.ValidationMessageFor(model => model.HairColor)
                </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.KnownAffiliates)
                </div>
                @Html.EditorFor(model => model.KnownAffiliates)
                @Html.ValidationMessageFor(model => model.KnownAffiliates)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.DateOfBirth)
                    </div>
                    @Html.EditorFor(model => model.DateOfBirth)
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.Race)
                </div>
                @Html.DropDownList("Race", enumHelper.GetSelectedItemList<Race>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.Race)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Address)
                    </div>
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>

            <div class="col-xs-1">
                @Html.LabelFor(model => model.State)
                </div>
                @Html.DropDownList("State", enumHelper.GetSelectedItemList<State>(), new { style = "width:160px" })
                @Html.ValidationMessageFor(model => model.State)

            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.ZipCode)
                    </div>
                    @Html.EditorFor(model => model.ZipCode)
                 
                    </div>
            <div class="col-xs-1">
                @Html.LabelFor(model => model.PhoneNumber)
                </div>
                @Html.EditorFor(model => model.PhoneNumber)


            </div>

        <div class="form-group">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.misc)
                    </div>
                    @Html.EditorFor(model => model.misc)
                    @Html.ValidationMessageFor(model => model.misc)
                </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-6 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
